.git
.next
**/.next
.open-next
**/.open-next
.open-next-materials
**/.open-next-materials
.wrangler
**/.wrangler
node_modules
**/node_modules
.venv
**/__pycache__
**/.pytest_cache
playwright-report
test-results
supabase/.temp
.env
.env.local
**/.env.local
*.log
